@import '~src/sass/abstract';

.cypto {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  margin-left: -0.8rem;
  margin-right: -0.8rem;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &-item {
    flex: 1 1 calc(20% - 0.8rem);
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    @media (min-width: 768px) and (max-width: 991px) {
      flex: 1 1 calc(50% - 0.8rem);
    }

    @media (max-width: 767px) {
      flex: 1 1 100%;
      width: 100%;
    }
  }

  &-card {
    background-color: $color-white;
    border-radius: 6px;
    border: 1px solid $color-light-gray;
    box-shadow: 0 0 5px rgba($color-black, 0.04);
    text-align: center;
    padding: 3rem 1.5rem;
    margin-bottom: 1rem;

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      margin-right: 10px;
    }

    &-title {
      margin: 0;
      font-size: 1.2rem;
      color: $color-light-gray-3;
    }

    &-body {
      padding-top: 2rem;
    }
  }
}
