<section class="cypto">
  <div class="cypto-item">
    <div class="cypto-card">
      <div class="cypto-card-header">
        <span class="cypto-card-icon">
          <img src="/assets/images/cypto-icon-1.png" alt="cypto" />
        </span>
        <h3 class="cypto-card-title">CyptoCarbon (CCRB)</h3>
      </div>
      <div class="cypto-card-body">
        <h4 class="cypto-card-subtitle">266.7 CCRB</h4>
      </div>
    </div>
  </div>

  <div class="cypto-item">
    <div class="cypto-card">
      <div class="cypto-card-header">
        <span class="cypto-card-icon">
          <img src="/assets/images/cypto-icon-2.png" alt="cypto" />
        </span>
        <h3 class="cypto-card-title">CyptoCarbon (CCRB)</h3>
      </div>
      <div class="cypto-card-body">
        <h4 class="cypto-card-subtitle">266.7 CCRB</h4>
      </div>
    </div>
  </div>

  <div class="cypto-item">
    <div class="cypto-card">
      <div class="cypto-card-header">
        <span class="cypto-card-icon">
          <img src="/assets/images/cypto-icon-3.png" alt="cypto" />
        </span>
        <h3 class="cypto-card-title">CyptoCarbon (CCRB)</h3>
      </div>
      <div class="cypto-card-body">
        <h4 class="cypto-card-subtitle">266.7 CCRB</h4>
      </div>
    </div>
  </div>

  <div class="cypto-item">
    <div class="cypto-card">
      <div class="cypto-card-header">
        <span class="cypto-card-icon">
          <img src="/assets/images/cypto-icon-3.png" alt="cypto" />
        </span>
        <h3 class="cypto-card-title">CyptoCarbon (CCRB)</h3>
      </div>
      <div class="cypto-card-body">
        <h4 class="cypto-card-subtitle">266.7 CCRB</h4>
      </div>
    </div>
  </div>
</section>
