@import '~src/sass/abstract';

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: $color-light-gray;
  font-family: $font-display;
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.main {
  height: 100%;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &-title {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 45px;

    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 35px;
      height: 35px;
      border: 6px solid $color-primary;
      border-radius: 50%;
      transform: translate(0, -50%);
    }
  }
}
