$color-primary: #3389fb;
$color-secondary: #ffd200;
$color-primary-dark: #0ec3f4;

$color-black: #000;
$color-white: #fff;

$color-light-gray: #f6f7fb;
$color-light-gray-1: #c1c6cb;
$color-light-gray-2: #c6cbcf;
$color-light-gray-3: #bbc0cc;


$font-display: 'Poppins',
sans-serif;
