@import '~src/sass/abstract';

.header {
  background-color: $color-white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 3px 5px rgba($color-black, 0.03);
  border-bottom: 1px solid $color-light-gray;
  min-height: 80px;
  padding: 0 .5rem;

  &-logo {
    margin: 0 auto;

    img {
      width: 80%;
    }

    @media (max-width: 767px) {
      img {
        width: 70%;
      }
    }
  }

  &-list {
    display: flex;
    align-items: center;

    &-item {
      list-style: none;

      &:not(:last-child) {
        border-left: 1px solid $color-light-gray;
        border-right: 1px solid $color-light-gray;
      }

      &.dropdown {
        .header-list-link {
          position: relative;

          &::after {
            content: '\f107';
            font-family: 'FontAwesome';
          }
        }
      }
    }

    &-link {
      padding: 1.3rem 1.5rem;
      display: block;
      cursor: pointer;
    }
  }
}
