<header class="header">
  <div class="header-logo">
    <img src="assets/images/logo.png" alt="" />
  </div>
  <div class="header-actions">
    <div class="header-list">
      <li class="header-list-item">
        <a class="header-list-link">
          <img src="assets/images/notification.png" alt="" />
        </a>
      </li>
      <li class="header-list-item dropdown">
        <a class="header-list-link"> Subash Manual </a>
      </li>
    </div>
  </div>
</header>
