<app-header></app-header>
<div class="drawer">
  <div class="drawer-sidenav">
    <app-sidebar></app-sidebar>
  </div>
  <perfect-scrollbar class="drawer-container">
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </perfect-scrollbar>
</div>
