<aside class="sidebar" [class.active]="isScreenSmall()">
  <perfect-scrollbar>
    <ul class="sidebar-list">
      <li class="sidebar-list-item" routerLinkActive="active">
        <a class="sidebar-list-link" routerLink="/dashboard">
          <img src="/assets/images/dashboard.png" alt="Dashboard" />
          <span class="title">Dashboard</span></a
        >
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a class="sidebar-list-link" routerLink="/e-wallet">
          <img src="/assets/images/e-wallet.png" alt="E wallet" />
          <span class="title">E Wallet</span></a
        >
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a class="sidebar-list-link" routerLink="/affiliates">
          <img src="/assets/images/affiliates.png" alt="Affiliates" />
          <span class="title">Affiliates</span></a
        >
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a class="sidebar-list-link" routerLink="/events">
          <img src="/assets/images/events.png" alt="Events" />
          <span class="title">Events</span></a
        >
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a class="sidebar-list-link" routerLink="/payments">
          <img src="/assets/images/payment.png" alt="Payment" />
          <span class="title">Payments</span></a
        >
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a class="sidebar-list-link" routerLink="/manage-my-business">
          <img
            src="/assets/images/manage-my-business.png"
            alt="Manage My business"
          />
          <span class="title">Manage my business</span></a
        >
      </li>
      <li class="sidebar-list-item" routerLinkActive="active">
        <a class="sidebar-list-link" routerLink="/settings">
          <img src="/assets/images/settings.png" alt="Settings" />
          <span class="title">Settings</span></a
        >
      </li>
    </ul>
  </perfect-scrollbar>
</aside>
