@import '~src/sass/abstract';


.sidebar {
  width: 300px;
  height: 100%;
  background-color: $color-white;
  box-shadow: 3px 0 5px rgba($color-black, 0.02);
  border-right: 1px solid $color-light-gray;
  padding: 70px 0 0 10px;
  overflow-y: auto;

  &.active {
    width: 80px;

    .sidebar-list {
      &-item {
        .sidebar-list-link {
          overflow: hidden;
          padding: 0.5rem;
          width: 60px;
          height: 60px;
          text-align: center;
          border-radius: 50%;
          text-align: center;
          text-indent: -999px;
          transition: all .2s ease;

          img {
            margin: auto;
          }
        }


      }
    }
  }

  &-list {
    margin: 0;

    &-item {
      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }

      &.active {
        .sidebar-list-link {
          color: $color-white !important;
          background-image: linear-gradient(90deg, rgba($color-primary, 1) 35%, rgba($color-primary-dark, 1) 100%);
          border-radius: 50px 0 0 50px;

          img {
            filter: brightness(10);
          }
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      font-size: 18px;
      padding: 0.8rem 0.8rem 0.8rem 1.2rem;
      cursor: pointer;
      color: $color-light-gray-2 !important;
      text-decoration: none;

      img {
        margin-right: 25px;
        width: 32px;
        height: 32px;
      }

      &:hover {
        color: $color-white !important;
        background-image: linear-gradient(90deg, rgba($color-primary, 1) 35%, rgba($color-primary-dark, 1) 100%);
        border-radius: 50px 0 0 50px;

        img {
          filter: brightness(10);
        }
      }
    }
  }
}
