@import "~src/sass/abstract";

.btn {
  &-primary-gradient {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    color: $color-white;
    border-radius: 30px;
    box-shadow: none;
    background-image: linear-gradient(90deg,
        rgba($color-primary, 1) 35%,
        rgba($color-primary-dark, 1) 100%);

    &:hover {
      background-image: linear-gradient(90deg,
          rgba($color-primary, 0.75) 35%,
          rgba($color-primary-dark, 0.75) 100%);
    }

    &:focus {
      box-shadow: none;
      background: $color-primary;
    }
  }
}
