<section class="dashboard">
  <div class="page-header">
    <h2 class="page-header-title">Portfolio</h2>
    <div class="page-header-action">
      <button class="btn btn-primary-gradient">
        Refer a Friend
        <img
          class="ml-1"
          src="/assets/images/add-friend.png"
          alt="Refer a Friend"
        />
      </button>
    </div>
  </div>

  <div class="dashboard-body">
    <app-cypto-info></app-cypto-info>
  </div>
</section>
